<div class ="contents row">
  <div class="content_post" style="background-image: url(<%= @tweet.image %>);">
    <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/tweets/#{@tweet.id}", method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
    <%= simple_format(@tweet.text) %>
    <span class="name">
      <a href="/users/<%= @tweet.user.id %>">
        <span>投稿者</span><%= @tweet.user.nickname %>
      </a>
    </span>
  </div>
  <button id="up">いいね！</button>
  <button id="down">いいね解除</button>
  <span class="fa fa-heart" id='target'></span>
     <a id="disp-count">0</a>
  <script>
  var disp_count = document.getElementById("disp-count");
  var up = document.getElementById("up");
  var down = document.getElementById("down");
  var count = 0;

  up.addEventListener('click',function(){
  count += 1;
  disp_count.innerHTML = count;
  });
  down.addEventListener('click',function(){
  count -= 1;
  disp_count.innerHTML = count;
  });
  document.getElementById('up').addEventListener('click',function(){
    document.getElementById('target').style.color='red';
  });
document.getElementById('down').addEventListener('click',function(){
  document.getElementById('target').style.color='';
});
</script>
  <div class="container">
    <% if current_user %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
