<!DOCTYPE html>
<html>
  <head>
    <title>Travel_tweet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>
  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Travel_Tweet</a></h1>
         <!-- ðŸ” -->
        <input id="menu" type="checkbox" />
        <label for="menu" class="open">å¤–éƒ¨ãƒªãƒ³ã‚¯é›†</label>
        <label for="menu" class="back"></label>
        <!-- ðŸ” -->

        <aside>
            <!-- ðŸ” -->
            <label for="menu" class="close">Ã—</label>
            <!-- ðŸ” -->
            <nav>
                <ul>
                    <li><%= link_to "JTB", "https://www.jtb.co.jp/?utm_medium=cpc&utm_source=google&utm_campaign=google_dom-htl_01-brand&utm_content=brand__txt_brand-2_&gclid=CjwKCAjwt-L2BRA_EiwAacX32RD2wuw9ZHSLufrGU94gu7vM6Ku3-tgGAv8jafb8WucUbJQOz62S_hoC1AgQAvD_BwE" %></li>
                    <li><%= link_to "ã˜ã‚ƒã‚‰ã‚“", "https://www.jalan.net/" %></li>
                    <li><%= link_to "ãƒ›ãƒ†ãƒ«ãƒ‰ãƒƒãƒˆã‚³ãƒ ", "https://jp.hotels.com/" %></li>
                    <li><%= link_to "ãƒˆãƒ©ãƒ™ãƒ«ã‚³", "https://www.tour.ne.jp/" %></li>
                </ul>
            </nav>
        </aside>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
          <span><%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", "/users/#{current_user.id}" %>
                <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </span>
            <%= link_to  "æŠ•ç¨¿ã™ã‚‹", "/tweets/new", class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: 'post' %>
            <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class: 'post' %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>
        Copyright Travel_Tweet 2020.
      </p>
    </footer>
  </body>
</html>